{% extends "base.html" %}
{% load static %}
{% block content %}
<h1>Available Listings</h1>
    <div class="row">
    {% for project in projects %}
        <div class="col-md-4">
            <div class="card mb-2">
                <!-- <div class="media"> -->
                <img class="card-img-top" src="{{project.image.url}}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.address }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <p class="card-text">€{{ project.rentPrice }} p/m</p>
                        <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">View Property</a>
                    </div>
                <!-- </div> -->
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock content%}
