{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<div style="width: 100%; display: table;">
  <div style="display: table-row">
    <div style="width: 500px; display: table-cell;">
      <h1>{{ project.address }}</h1>
      <!-- Full-width images with number text -->
      <div>
        <img src="{{ project.image.url }}" style="width: 500px">
      </div>
      <br>

    </div>
    <div style="display: table-cell;"> &nbsp&nbsp&nbsp </div>
    <div class="card" style="width: 600px; display: table-cell;">
      <h4>Property Summary</h4>
      <p>$ {{ project.rentPrice }} | {{project.bedRooms}} bed | {{project.bathRoom}} bath</p>
      {% for reviews in propertyReview %}
      <div class="card bg-info text-white">
        <div class="card-body">Previous Tenant Review</div>
      </div>
      <div class="card" style="width: 100%; display: table;">
        <div style="display: table-row">
          <div class="card img-fluid" style="display: table-cell;">
            <br>
            <img class="rounded-circle account-img" src="{{user.tenant_profile.image.url}}">
            <div class="card-img-overlay">
              <br><br><br><br><br>
              <a href="{% url 'view_profile' reviews.tenant.pk %}" >{{ reviews.tenant }}</a>
            </div>
          </div>
          <div class="card" style="display: table-cell;">
            <p>{{reviews.review}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      <br>
      <a href="{% url 'application_submit' project.pk %}" type="submit" class="btn btn-primary">Apply</a>
    </div>
  </div>
</div>

<h4>Property Description:</h4>
<p>{{ project.description }}</p>
</body>

{% endblock content%}
