{% extends "base.html" %}
{% load static %}
{% block content %}

<style>
    .center {
        border: 1px #41b6ae;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
        margin-left: 10px;
        {#background: #41b6ae;#}
}

.



</style>

<div class="content-section border border-dark active-purple-3"style="background: #41b6ae">
 <div class="container-fuild text-white text-center">
    {% if user.is_authenticated %}
{#        Header card for logged in users#}
        <h1 style="color: white">Welcome back to RentSpot {{ request.user}}</h1>
        <h3 style="color: white">Lets find the perfect spot for you!</h3>

    {% else %}
{#        If the user is logged out/ not registered it displays a different header #}
        <img src="{% static 'images/rentSpotLogo.jpg' %}" style="position:center; height: 300px; width:80%; margin: auto">
        <h1 style="color: white">Join RentSpot today!</h1>
        <h2 style="color: white">Get your spot on</h2>
    {% endif %}


 <div class="container bg-dark " style="width: 25%; padding:3px" >
     <form method ="get">
         {{ myFilter.form }}
         <button class="border border-dark" type="submit"<>
         Search</button>
     </form>
    </div>


     {#Search Bar#}
{#            <br>#}
{#            <div class="container bg-dark " style="width: 25%; padding:3px" >#}
{#                <form method="get">#}
{#                    <input class="border border-dark" style="width: 70%; type="text" placeholder="Search.." name="search">#}
{#                    <button class="border border-dark" style="width: 28%; type="submit">Go!<i class="fa fa-search "></i></button>#}
{#                </form>#}
{#            </div>#}
 <br>
 </div>

</div>
        <legend class="border-bottom mb-4 ">Available Listings:</legend>
        <p></p>

    <div class="column-md-12 center">
        <div class="row" >
        {% if projects %}
            {% for project in projects %}
                <p> </p>
                <div class="col-md-3" style="margin-left: auto; margin-right: auto;display: block">

                    <div class="card mb-2 border border-dark center" style="width:270px; height: 400px; border: 3px black;">
                        <!-- <div class="media"> -->
                        <img class="card-img-top "style="width:268px; height: 220px;"  src="{{project.image.url}}">
                            <div class="card-body" style="width=272px height" >
                                <h5 class="card-title">{{ project.street1 }}</h5>
                                 <h5 class="card-title">{{ project.county }}</h5>
                                <p class="card-text">{{ project.description }}</p>
                                 <p class="card-text">€{{ project.rentPrice }} p/m</p>
                                <a href="{% url 'project_detail' project.pk %}" class="btn btn-primary">View Property</a>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
            {% endfor %}
        {% else %}
            no properties found
        {% endif %}

            </div>
    </di>
{% endblock content%}
