{% extends "base.html" %}
{% load static %}
{% block content %}
<body>
<div style="width: 100%; display: table;">
  <div style="display: table-row">
    <div style="width: 500px; display: table-cell;">
      <h1>{{ project.address }}</h1>
      <!-- Full-width images with number text -->
      <div>
        <img src="{{ project.image.url }}" style="width: 500px">
      </div>
      <br>

    </div>
    <div style="display: table-cell;"> &nbsp&nbsp&nbsp </div>
    <div class="card" style="width: 600px; display: table-cell;">
      <h4>Property Summary</h4>
      <p>$ {{ project.rentPrice }} | {{project.bedRooms}} bed | {{project.bathRoom}} bath</p>
      <br>
      <h4>Property Description:</h4>
      <p>{{ project.description }}</p>
  </div>

</body>

{% endblock content%}
