{% extends "base.html" %}
{% load static %}

{% block content %}
<body>

  <div class="card">
  <br>
  <br>

    <!-- Main Container Listing page -->
    <div class="container">
      <div class="row">
       {% comment %} defining the with of the first block {% endcomment %}
        <div class="col-md-8">
          <div class = "card">
          
          <h1>{{ project.address }}</h1>
            
            
            <div class="Preview">
              <div class="text-center">
                <img src="{{ project.image.url }}" style="width:90%">
              </div>
            </div>
            <br>
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                  <h5>Bed Rooms:</h5>
                  <p>{{project.bedRooms}}</p>
                </div>
                <div class="col-md-6">
                  <h5>Bathrooms:</h5>
                  <p>{{project.bathRoom}}</p>
                </div>
              </div>
            
              <h5>Property Description:</h5>
              <p>{{ project.description }}</p>
              <h5>Property Location:</h5>
              <p> {{ project.address}}</p>
              <h5>Rent Price:</h5>
              <p>€{{project.rentPrice}}</p>
            </div>
          <div class="text-center">  
            <form action="/projects/{{ project.pk}}/" method="post">
            {% csrf_token %}
            <a href="{% url 'application_submit' project.pk %}" type="submit" class="btn btn-primary">Apply</a>
            </form>
          </div>
          <br>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h5>Property Review</h5>
            {% for reviews in propertyReview %}
            <a href="{% url 'view_profile' reviews.tenant.pk %}" >{{ reviews.tenant }}</a>
            <p></p>
            <ul class="list-group">
            <li class="list-group-item list-group-item-light">{{reviews.review}}</li>
            </ul>
            </p>
            {% endfor %}
          </div>
          </div>
      </div>  

    </div>

  <br>
  
  
</body>

{% endblock content%}
