{% extends "base.html" %}
{% comment %} {% extends "listingStyle.html" %} {% endcomment %}
{% load static %}
{% block content %}
    <div class="content-section bg-dark">
        <div class="media">
            <img class="rounded-circle account-img" src="{{user.landlord_profile.image.url}}">
            
                <div class="media-body text-white">
                    <font size="10">{{user.username}}</font>
                    {% if user.last_name == 'False' %}
                        <p>Usertype: Tenant</p>
                    {% else %}
                        <p>Usertype: Landlord</p>
                    {% endif %}
                    <p>{{user.email}}</p>
                    <button class="btn btn-outline-info bg-white" onclick="window.location.href = '/profile'" >Update Profile</button>
                    <button class="btn btn-outline-info bg-white" onclick="window.location.href = '/documents'" >Documents</button>

                </div>

        </div>
   <legend class="border-bottom mb-4  text-white">Your active listings:</legend>
    
        <div class="card bg-dark">
            <div class="col-md-12" >

                <div class="row">
                    {% for listing in properties %}
                        <div class="col-md-4" style="width:270px; height: 400px;">
                            <div class="card mb-2">
                                <img class="card-img-top" style="width:260px; height: 200px;" src="{{listing.image.url}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ listing.address }}</h5>
                                    <p class="card-text">{{ listing.description }}</p>
                                    <p class="card-text">€{{ listing.rentPrice }}</p>
                                    <a href="{% url 'project_detail' listing.pk %}" class="btn btn-primary">View Property</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
       
        <br>

        <div class="card bg-dark ">
            <div class="col-md-12">
                <div class="text-white">
                    <font size='10'>Applications:</font>
                </div>
                <div class="row">
                {% for application in applications %}
                    {% for listing in properties %}
                    <div class = "col-md-4">
                        <div class="card mb-2">
                            <img class="card-img-top"  style="width:271px;height:230px;" src="{{listing.image.url}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ application.listing }}</h5>  <!--django tags for db-->
                                    <a href="{% url 'view_profile' application.tenant_apply.pk %}" >{{ application.tenant_apply }}</a>
                                    <p class="card-text">{{application.app_description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% endfor %}
                </div>
            </div>
    </div>
</div>
            
            

{% endblock content%}
