{% extends "base.html" %}
{% comment %} {% extends "listingStyle.html" %} {% endcomment %}
{% load static %}
{% block content %}
    <style>
    .ex1 {
        padding-right: 10px;
        padding-left: 10px;
        padding-bottom: 10px;
        width: 100%;
        height: 600px;
        margin-left: 10px;
        margin-right: 10px;
        overflow: scroll;
    }
    </style>



    <div class="content-section text-white border border-dark" style="background: #41b6ae">
        <div class="media">
            <img class="rounded-circle account-img border border-dark" src="{{user.tenant_profile.image.url}}">

                <div class="media-body">
                    <font size="10">{{user.username}}</font>
                    {% if user.last_name == 'False' %}
                        <p>Usertype: Tenant</p>
                    {% else %}
                        <p>Usertype: Landlord</p>
                    {% endif %}
                    <p>{{user.email}}</p>
                    <button class="btn bg-white btn-outline-info" onclick="window.location.href = '/profile'" >Update Profile</button>
                    <button class="btn bg-white btn-outline-info" onclick="window.location.href = '/documents'" >Add A Guarantor</button>
                        
                </div>
            
        </div>
    </div>

            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-8">
                        <legend class="border-bottom  mb-4 ">Applications:</legend>

                        <div class="row">
                        {% for application in applications %}
                            <div class = "col-md-2 ">
                                <div class="card mb-2 border border-dark">
                                    <img class="card-img-top" src="{{listing.image.url}}">
                                    <div class="card-body">
                                            <h5 class="card-title">{{ application.listing }}</h5>  <!--django tags for db-->
    {#                                      <p class="card-text">{{application.tenant_apply}}</p>#}
                                            <p class="card-text">{{application.app_description}}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        </div>
                    </div>

                <div class="col-md-4">
                    <div class="border border-dark ex1" style="background: #41b6ae">
                        <legend class="border-bottom mb-4 text-white">Upcoming Viewings:</legend>
                        <div class="row">
                            {% for newViewing in viewings %}
                                    <div class = "col-md-12 ">
                                        <div class="card mb-3">
                                            <div class="card-body border border-dark">
                                                <h5 class="card-title">{{ newViewing.listing }}</h5>  <!--django tags for db-->
                                                <p class="success">Congratulations! {{ newViewing.landlord }} has scheduled a viewing with you.</p>
                                                <p class="card-text">Your viewing is on {{ newViewing.date }}</p>
                                                <p></p>

                                            </div>
                                        </div>
                                    </div>
                            {% endfor %}

                        </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    <div class="col-md-4 ">





                            </div>
                        </div>
                    </div>
            

{% endblock content%}
